body {
  color: #DFEEEA;
  background-color: #262626;
  text-align: center;
  font-family: 'Merriweather Sans', serif;
}

ul {
  list-style: none;
  text-align: center;
}

h1 {
  color: #EDEDD0;
  font-size: 5.625rem;
  margin: 40vh auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-weight: 900;
}

h2 {
  color: #BCB4B4;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

h3 {
  color: #F7DAD9;
  font-family: 'Roboto Mono', monospace;
}

hr {
  background-color: #F8F5F1;
  margin: 0 11.5rem;
  margin-top: 100px;
  margin-bottom: 100px;
}

p {
  line-height: 2;
  font-size: 120%;
}

a {
  color: #FFF5DA;
  text-decoration: none;
}

a:hover, a:focus, a:active  {
  color: #464F41;
}

@media (max-width: 800px) {
  h1 {
    font-size: 7.625rem;
  }
  h2 {
    font-size: 4.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    line-height: 2.3;
    font-size: 160%;
  }
  .items {
    line-height: 2.3;
    font-size: 160%;
  }
  .heading {
    font-weight: normal;
    font-size: 3rem;
  }
  .project-img {
    height: 15rem;
    width: 30rem;
    padding: 0 10%;
    margin: auto 8%;
  }
  .org {
    font-size: 1.5rem;
  }
  .nav-item {
    font-size: 1.7rem;
  }

}

/* Navigation Bar */



.navbar {
  padding: 0 3% 0 0;
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2.5rem;
  font-weight: 500;
}

.nav-item{
  padding: 0 15px;
  font-size: 1.1rem;
  font-family: Montserrat;
  font-weight: bold;
  font-style: normal;
  color: white;
}

.nav-link {

}



/* About section */



.heading {
  font-weight: normal;
}

.top-cloud {
  position: absolute;
  top: 15%;
  right: 25%;
}

.bottom-cloud {
  position: absolute;
  bottom: 15%;
  left: 25%;
}



/* Skills Section */



.Skills {
  border-radius: 12px;
  background-color: #1E1E1E;
  margin: auto;
}

.skill-icon {
  margin: 20px;
  height: 7rem;
  width: 7rem;
}

/* Project Section */

.project-section {
  border-radius: 12px;
  margin: auto;
  background-color: #1E1E1E;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
}

.project-img {
  height: 15rem;
  width: 30rem;
  padding: 0;
  margin: auto 8%;
}

.project-content {
  text-align: left;
}

/* Experience Section */

.experience {
  border-radius: 12px;
  width: 80%;
  margin: auto;
  background-color: #1E1E1E;
  color: #F3F0D7;
}

.org-position {
  margin: 20px 0 0 0;
}

.org {
  font-size: 1rem%;
  color: #868e96;
  margin: 0;
}

/* Education Section */

.edu-section {
  border-radius: 12px;
  width: 80%;
  margin: auto;
  background-color: #1E1E1E;
  color: #F3F0D7;
}

.contact-me {
  background-color: #1E1E1E;
  border-radius: 12px;
  padding: 20px 0 20px 0;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 32px;
  font-family: 'Roboto Mono', monospace;
}

.contact-heading {
  margin-top: 0;
  margin-bottom: 0;
  color: #EEEEEE;
}

.contact-subheading {
  font-size: 280%;
  color: #EEEEEE;
  margin-top: 0;
}

/* Bottom Container */

.bottom-container {
  background-color: #1E1E1E;
}

.bottom-content {
  padding-top: 2%
}
